.diagonal {
	transform-origin: 0 0;

	background: $color-primary;
	display: block;
	height: 1000px;
	position: absolute;
	top: 100px; /* in 276px */
	width: 38.2%;
	z-index: -1000;
	@media (max-width: $responsive-lg) {
		width: 50%;
	}
}
