//Layout
.container {
	margin: 0 auto;
	max-width: 100%;
	min-width: 320px;
	position: relative;
	width: 1440px;
	z-index: 5;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.col-lg {
	@media (min-width: $responsive-lg) {
		float: left;
		width: 75%;
	}
}

.col-md2 {
	@media (min-width: $responsive-lg) {
		float: left;
		width: 67%;
	}
}

.col-md {
	@media (min-width: $responsive-lg) {
		float: left;
		width: 50%;
	}
}

.col-sm {
	@media (min-width: $responsive-lg) {
		float: left;
		width: 33.3%;
	}
}

.col {
	@include basic-layout;
	@media (min-width: $responsive-lg) {
		float: left;
		width: 25%;
	}

}
