.home {
	@include element('devex') {
		position: relative;

		@include element('img') {
			position: relative;
			width: 100%;
			@media(min-width: $responsive-lg){
				float: right;
				left: 0;
				width: 75%;
				z-index: 100;
			}
		}
		.home__company-details {
			float: left;
			left: 3%;
		}
		.diagonal {
			transform: skewX(-30deg);
			left: 50%;
		}

	}
}
