.home {
	@include element('header') {
		@include center-center;
		background: white;
		height: 300px;
		text-align: center;
		@include element('wrap') {
			margin-top: 54px;
			h1 {
				font: 1.618em $font-header;
				padding: 0 50px;
			}
			span {
				color: $color-primary-text;
				font: $font-lg $font-header;
				line-height: 1.618em;
			}
			@media (min-width: $responsive-md) {
				h1 {
					font: $font-lg $font-header;
				}
				span {
					font: $font-xl $font-header;
				}
			}
		}
	}
}
