.home {
	@include element('header') {
		height: 200px;
		@media(min-width: 550px){
			height: 304px;
		}
		@media(min-width: $responsive-lg){
			height: 469px;
		}
		@include element('left') {
			background: white;
			height: inherit;
			@include element('msg') {
				position: relative;
				text-align: center;
				top: 43%;
				h1 {
					font-size: 1em;
					@media(min-width: 550px) {
						font-size: 1.999em;
					}
				}
				@media(min-width:550px) and (max-width: $responsive-lg) {
					top: 35%;
				}
				@media(min-width: $responsive-lg){
					float: right;
					padding-right: 20px;
					text-align: right;
					width: 315px;
				}
			}
		}
		@include element('right') {
			@media(min-width: $responsive-lg){
				height: inherit;
			}
			@include element('msg') {
				color: #5eefbe;
				display: block;
				font: $font-lg $font-header;
				position: relative;
				text-align: center;
				top: -89px;
				@media(min-width:550px) {
					font: $font-xl $font-header;
				}
				@media(min-width:550px) and (max-width: $responsive-lg) {
					top: -143px;
				}
				@media(min-width: $responsive-lg){
					background: $color-primary;
					color: $color-text;
					padding-left: 20px;
					text-align: left;
					top: 43%;
				}
			}
		}
	}
}
