.home {
	@include element('hitch') {
		position: relative;
		padding: 200px 0 150px;
		.home__company-details {
			float: right;
			right: 3%;
		}

		.diagonal {
			transform: skewX(30deg);
		}

		@include element('img') {
			position: relative;
			width: 100%;
			@media(min-width: $responsive-lg){
				float: left;
				left: 0;
				width: 75%;
				z-index: 100;
			}
		}
	}
}
