.home {
	@include element('hitch') {
		position: relative;
		padding: 220px 0 200px;
		@media(min-width: $responsive-lg){
			padding: 170px 0 200px;
		}
		@include element('img') {
			position: relative;
			width: 100%;
			@media(min-width: $responsive-lg){
				float: left;
				left: 0;
				width: 75%;
				z-index: 100;
			}
		}
	}
}
