.home {
	overflow: hidden;
	@include element('company-details') {
		float: right;
		position: relative;
		right: 4%;
		width: 20%;
		p {
			color: $color-text;
			font-size: 1.309em;
			margin-bottom: 10%;
		}
		@include element('title') {
			color: $color-text;
			display: block;
			font-size: $font-sm;
			text-transform: uppercase;
		}
		@include element('subtitle') {
			border-top: 1px solid $color-border;
			color: $color-text;
			display: inline-block;
			margin-bottom: 5%;
			padding-top: 5px;
		}
	}
}
