.home {
	overflow: hidden;

	@include element('company-details') {
		position: relative;
		@media (min-width: $responsive-lg) {
			width: 20%;
		}
		@media (max-width: $responsive-lg) {
			p {
				display: none;
			}
		}
		p {
			color: $color-text;
			line-height: $font-md;
			margin-top: 10%;
		}
		@include element('title') {
			color: $color-text;
			display: block;
			font-size: $font-sm;
			text-transform: uppercase;
		}
		@include element('subtitle') {
			border-top: 1px solid $color-border;
			color: $color-text;
			display: inline-block;
			margin-bottom: 7%;
			padding-top: 5px;
			width: 170px;
		}
	}
}
