.main-nav {
	position: fixed;
	text-align: right;
	top: 0;
	width: 100%;
	z-index: 10000;
	@include element('item') {
		background: $color-primary;
		color: $color-text;
		display: inline-block;
		letter-spacing: 0.02em;
		font: $font-sm $font-header;
		padding: 20px;
		&:hover {
			background: $color-highlight;
		}
   }
}
