.home {
	@include element('social') {
		position: relative;
		z-index: 2100;
		@include element('text') {
			font: $font-md $font;
			margin: 40px;
		}
		@include element('list') {
			margin: 0 auto;
			bottom: 60px;
			position: relative;
			text-align: center;
			li {
				display: inline-block;
				margin: 0 20px;
				a {
					display: block;
				}
			}
			@media (min-width: $responsive-md) {
				position: fixed;
				bottom: 10px;
				li {
					display: list-item;
					margin: 10px 0;
				}
			}
			@media (min-width:$responsive-md) and (max-width: 1440px) {
				left: 20px;
			}
		}
	}
}
