@font-face {
  font-family: 'Avenir-Roman';
  src: url("fonts/Avenir-Roman.otf") format("opentype"), url("fonts/Avenir-Roman.ttf") format("truetype"); }
@font-face {
  font-family: 'Avenir-Black';
  src: url("fonts/Avenir-Black.otf") format("opentype"), url("fonts/Avenir-Black.ttf") format("truetype"); }
/* 16px */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.right {
  float: right; }

.left {
  float: left; }

@media (min-width: 1023px) {
  .pull-left {
    float: left !important; } }

@media (min-width: 1023px) {
  .pull-right {
    float: right !important; } }

@media (max-width: 1022px) {
  .hide-sm {
    display: none; } }

@media (min-width: 1023px) {
  .hide-lg {
    display: none; } }

@media (max-width: 767px) {
  .responsive-list {
    margin: 0 auto;
    width: 90%; } }
@media (min-width: 767px) and (max-width: 1023px) {
  .responsive-list {
    margin: 0 auto;
    width: 50%; } }

a {
  text-decoration: none; }

::selection {
  background: #333333;
  color: white; }

.link {
  background: #66FFCC;
  color: #000000;
  display: inline-block; }
  .link:hover {
    background: #ffff00; }

footer {
  font: 0.707em "Avenir-Roman", sans-serif;
  margin-top: -30px;
  position: relative;
  right: 5%;
  text-align: right;
  z-index: 10; }

.container {
  margin: 0 auto;
  max-width: 100%;
  min-width: 320px;
  position: relative;
  width: 1440px;
  z-index: 5; }

.group:after {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 1023px) {
  .col-lg {
    float: left;
    width: 75%; } }

@media (min-width: 1023px) {
  .col-md2 {
    float: left;
    width: 67%; } }

@media (min-width: 1023px) {
  .col-md {
    float: left;
    width: 50%; } }

@media (min-width: 1023px) {
  .col-sm {
    float: left;
    width: 33.3%; } }

.col {
  margin: 0 auto;
  width: 90%; }
  @media (min-width: 767px) {
    .col {
      width: 50%; } }
  @media (min-width: 1023px) {
    .col {
      float: left;
      width: 25%; } }

.diagonal {
  transform-origin: 0 0;
  background: #66FFCC;
  display: block;
  height: 1000px;
  position: absolute;
  top: 100px;
  /* in 276px */
  width: 38.2%;
  z-index: -1000; }
  @media (max-width: 1023px) {
    .diagonal {
      width: 50%; } }

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000; }
  .main-nav__item {
    background: #66FFCC;
    color: #000000;
    display: inline-block;
    letter-spacing: 0.02em;
    font: 0.707em "Avenir-Black", sans-serif;
    padding: 20px; }
    .main-nav__item:hover {
      background: #ffff00; }

.home__social {
  position: relative;
  z-index: 2100; }
  .home__social__text {
    font: 1.618em "Avenir-Roman", sans-serif;
    margin: 40px; }
  .home__social__list {
    margin: 0 auto;
    bottom: 60px;
    position: relative;
    text-align: center; }
    .home__social__list li {
      display: inline-block;
      margin: 0 20px; }
      .home__social__list li a {
        display: block; }
    @media (min-width: 767px) {
      .home__social__list {
        position: fixed;
        bottom: 10px; }
        .home__social__list li {
          display: list-item;
          margin: 10px 0; } }
    @media (min-width: 767px) and (max-width: 1440px) {
      .home__social__list {
        left: 20px; } }

.home {
  overflow: hidden; }
  .home__company-details {
    position: relative;
    width: 20%; }
    .home__company-details p {
      color: #000000;
      line-height: 1.618em;
      margin-top: 10%; }
    .home__company-details__title {
      color: #000000;
      display: block;
      font-size: 0.707em;
      text-transform: uppercase; }
    .home__company-details__subtitle {
      border-top: 1px solid #DEDEDE;
      color: #000000;
      display: inline-block;
      margin-bottom: 7%;
      padding-top: 5px;
      width: 170px; }

.home__header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  background: white;
  height: 270px;
  text-align: center; }
  .home__header__wrap h1 {
    font: 1.618em "Avenir-Black", sans-serif;
    padding: 0 50px; }
  .home__header__wrap span {
    color: #40e4ae;
    font: 2.618em "Avenir-Black", sans-serif;
    line-height: 1.618em; }
  @media (min-width: 767px) {
    .home__header__wrap h1 {
      font: 2.618em "Avenir-Black", sans-serif; }
    .home__header__wrap span {
      font: 4.236em "Avenir-Black", sans-serif; } }

.home__hitch {
  position: relative;
  padding: 200px 0 150px; }
  .home__hitch .home__company-details {
    float: right;
    right: 3%; }
  .home__hitch .diagonal {
    transform: skewX(30deg); }
  .home__hitch__img {
    position: relative;
    width: 100%; }
    @media (min-width: 1023px) {
      .home__hitch__img {
        float: left;
        left: 0;
        width: 75%;
        z-index: 100; } }

.home__devex {
  position: relative; }
  .home__devex__img {
    position: relative;
    width: 100%; }
    @media (min-width: 1023px) {
      .home__devex__img {
        float: right;
        left: 0;
        width: 75%;
        z-index: 100; } }
  .home__devex .home__company-details {
    float: left;
    left: 3%; }
  .home__devex .diagonal {
    transform: skewX(-30deg);
    left: 50%; }

.home__company {
  position: absolute; }
  @media (min-width: 1023px) {
    .home__company {
      height: 300px;
      text-align: center;
      width: 23.61%; } }
  @media (min-width: 1023px) {
    .home__company__mask {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center;
      justify-content: center; } }
  .home__company__role {
    display: block;
    text-align: right;
    font: 0.707em "Avenir-Black", sans-serif; }
  .home__company__name {
    display: block;
    text-align: right;
    font: 4.236em "Avenir-Black", sans-serif;
    text-transform: capitalize; }
    @media (max-width: 500px) {
      .home__company__name {
        font: 2.618em "Avenir-Black", sans-serif; } }
    .home__company__name span {
      border-bottom: 5px solid; }
  .home__company__description {
    display: block;
    text-align: right;
    margin-top: 20px; }

.home__others {
  margin: 120px 0 100px; }
  @media (min-width: 1023px) {
    .home__others {
      margin: 120px 0 200px; } }
  .home__others__title {
    display: block;
    font: 1.618em "Avenir-Black", sans-serif;
    left: 4%;
    margin-bottom: 20px;
    position: relative; }
  .home__others__list__item {
    margin: 0 auto 40px;
    width: 90%; }
    @media (min-width: 1023px) {
      .home__others__list__item {
        display: inline-block;
        margin: 0;
        margin-left: 4%;
        width: 45%; } }
    .home__others__list__item__target {
      display: block;
      position: relative; }
      .home__others__list__item__target__title {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        color: #000000;
        font: 4.236em "Avenir-Black", sans-serif;
        bottom: 40px;
        left: 40px;
        position: absolute;
        right: 40px;
        top: 40px; }
        .home__others__list__item__target__title:hover {
          border: 20px solid #ffff00; }
    .home__others__list__item img {
      width: 100%; }

.hitch h2 {
  font: 2.618em "Avenir-Black", sans-serif;
  margin: 0; }
.hitch h3 {
  margin: 30px 0 10px; }
.hitch p {
  line-height: 1.7em; }
.hitch__header {
  text-align: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  background: #615fff;
  color: white;
  height: 400px; }
  .hitch__header h1 {
    border-bottom: 1px solid;
    font: 2.618em "Avenir-Black", sans-serif;
    margin: 0 auto 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 270px; }
  .hitch__header span {
    display: block;
    text-align: center; }
  .hitch__header p {
    line-height: 1.7em;
    margin-top: 40px; }
  .hitch__header__wrap {
    margin: 0 auto;
    width: 90%;
    text-align: left; }
    @media (min-width: 767px) {
      .hitch__header__wrap {
        width: 50%; } }
.hitch__branding {
  background: url("/images/hitch/hitch-bg-guides.svg") no-repeat 0 50px; }
  @media (min-width: 1200px) {
    .hitch__branding {
      height: 1500px; } }
  @media (min-width: 1023px) and (max-width: 1200px) {
    .hitch__branding {
      height: 1400px; } }
  .hitch__branding h3 {
    font: 1.618em "Avenir-Black", sans-serif; }
  .hitch__branding__logo-img {
    margin: 0 auto;
    width: 90%;
    box-shadow: 0 50px 100px 0 rgba(0, 0, 0, 0.1);
    display: block;
    margin: -50px auto 0; }
    @media (min-width: 767px) {
      .hitch__branding__logo-img {
        width: 50%; } }
  .hitch__branding__logo-description-wrap {
    margin: 0 auto;
    width: 90%; }
    @media (min-width: 767px) {
      .hitch__branding__logo-description-wrap {
        width: 50%; } }
  .hitch__branding__style__subtitle {
    display: none; }
    @media (min-width: 1023px) {
      .hitch__branding__style__subtitle {
        color: #000000;
        display: block;
        position: relative;
        top: 279px; } }
  .hitch__branding__style__color {
    position: relative;
    top: 65px; }
    @media (min-width: 1023px) and (max-width: 1200px) {
      .hitch__branding__style__color {
        top: 90px; } }
    .hitch__branding__style__color__list {
      display: inline-block; }
      @media (min-width: 1023px) and (max-width: 1200px) {
        .hitch__branding__style__color__list {
          width: 41.5%; } }
      .hitch__branding__style__color__list img {
        box-shadow: 0 50px 100px 0 rgba(0, 0, 0, 0.1);
        width: 100%; }
      .hitch__branding__style__color__list li {
        margin-bottom: 33px; }
    @media (max-width: 1023px) {
      .hitch__branding__style__color .responsive-list {
        margin-top: 20px;
        margin-bottom: 100px; } }
  .hitch__branding__style__font {
    position: relative;
    top: 40px; }
    .hitch__branding__style__font h3 {
      margin: 0; }
    .hitch__branding__style__font img {
      margin: 17px 0 20px;
      width: 100%; }
    @media (min-width: 1023px) and (max-width: 1100px) {
      .hitch__branding__style__font {
        top: 180px; } }
    @media (min-width: 1100px) {
      .hitch__branding__style__font {
        top: 293px; } }
.hitch__product h2 {
  margin-bottom: 10px; }
  @media (min-width: 1023px) {
    .hitch__product h2 {
      margin-top: 120%; } }
.hitch__product h3 {
  font: 1.618em "Avenir-Black", sans-serif; }
.hitch__product__download {
  padding: 3px 10px;
  margin: 10px 10px 0 0; }
.hitch__product__img1 {
  width: 67%; }
.hitch__product__img2 {
  margin: 100px 0;
  width: 37%; }
.hitch__product__img3 {
  box-shadow: 0 50px 100px 0 rgba(0, 0, 0, 0.1);
  left: 7.5%;
  position: relative;
  top: -212px;
  width: 44.5%; }
.hitch__product__img4 {
  width: 66%; }
.hitch__product__img5 {
  left: 75px;
  position: relative;
  top: -358px;
  width: 17%; }
.hitch__product__img6 {
  left: -105px;
  position: relative;
  width: 17%; }
@media (max-width: 1023px) {
  .hitch__product__wrap {
    margin: 30px auto 80px;
    width: 90%; } }

body {
  background: #f7f7f7;
  color: #000000;
  font: 1em "Avenir-Roman", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0; }

/*# sourceMappingURL=app.css.map */
