//Basics
$color-text:      		#000000;
$color-primary: 			#66FFCC;
$color-primary-text:	#40e4ae;
$color-main-bg: 			#f7f7f7;
$color-highlight: 		#ffff00;
$color-border:        #DEDEDE;

//Hitch
$color-hitch: 				#615fff;
